{% load static %}
{% load gravatar %}
{% load socialaccount %}
{% load user_score %}
{% providers_media_js %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Bugheist{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="{% block description %}Bugheist allows anyone to submit an issue from any website. For example if you saw a broken button on Amazon.com you can report the issue on Bugheist and then get a point! The more bugs you find the more points you get. Bugs can be verified for extra points and companies can get involved and help out.{% endblock %}">
    <meta name="author" content="">
    <meta property="og:title" content="{% block og_title %}Bugheist{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% static "img/screenshot.png" %}{% endblock %}" />
    <meta property="og:description"
        content="{% block og_description %}Bugheist allows anyone to submit an issue from any website. For example if you saw a broken button on Amazon.com you can report the issue on Bugheist and then get a point! The more bugs you find the more points you get. Bugs can be verified for extra points and companies can get involved and help out.{% endblock %}" />
    <meta property="og:type" content="website" />
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/lightbox.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/animate.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/text-slider.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/activity.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/notify.js" %}"></script>
    <script src="{% static "js/text-slider.js" %}"></script>
    <script src="{% static "js/embed.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    
</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <h1>Privacy Policy</h1>
            <p>We want to make sure you, as a Customer or Finder, understand what information we collect from you and why. We also want you to know about our information use practices so that you can make good decisions about how you use Bugheist.</p>

            <p> This Privacy Policy explains what information we collect from and about you, (collectively, "Your Information") and what we do with it.</i>
            <p>

            <p>Please read this Privacy Policy carefully.</p>

            <h2><strong>Information Collection</strong></h2>
            <ul>
                <li><b>Direct Collection</b></li>
                <ul>
                    <li>When you create an account with Bugheist, you are required to provide us with profile information, including your name, company name (if applicable), username, password, and email address. Bugheist stores this information to help identify you when you log in.</li>
                    <li>Information regarding website issues/bugs, which are reported by the users/members of the Bugheist community .</li>
                </ul>
                <li><b>Indirect Collection</b></li>
                <ul>
                    <li>We receive some information automatically when you visit Bugheist. This includes information about the device, browser, and operating system you use when accessing our site and Services and your IP address. If you visit Bugheist when you are logged into your account, we also collect the user identification number we assign you when you open your account.</li>
                </ul>
                <li><b>Cookie Policy</b></li>
                <ul>
                    <li>When you log in to your account, Bugheist will place cookie(s) for the purpose of creating the session, knowing when you're logged in, and recognizing you as the same authenticated user across accounts. These cookie(s) contain an encrypted user identifier.</li>
                </ul>
            </ul>
        </div>
    </div>
</body>